.commands-title {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}

.commands-category-container {
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}

.commands-category {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 30px;
    transition: background-color ease 150ms;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.commands-category:hover {
    background-color: rgb(35, 92, 119);
}

.commands-category-active {
    background-color: rgb(35, 92, 119);
}


.commands-search-wrapper {
    display: inline-flex;
    align-items: center;
    border-left: 2px solid rgb(68, 116, 138);
    position: relative;
    top: 12px;
}

.commands-search-icon {
    display: inline-block;
    width: 40px;
    margin-left: 10px;
}

.commands-search {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    margin-left: 10px;
}

.commands-divider {
    width: 80%;
    border: 1px rgb(68, 116, 138) solid;
}

@media only screen and (max-width: 550px) {
    .commands-title {
        font-size: 10vw;
    }


}

@media only screen and (max-width: 850px) {
    .command-box {
        width: 95%;
    }
}