.banner-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/polka dot background.png');
    background-size: 900px;
    height: fit-content;
}

.banner {
    display: block;
    width: 75%;
    font-family: Montserrat, sans-serif;
    color: white;
    margin: 100px auto;
}

.banner-title {
    text-transform: uppercase;
    font-size: 100px;

    animation: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.banner-subtext {
    font-size: 30px;
}

.home-invite-button {
    margin: 0 auto;
    margin-top: 50px;
}

.features-list {
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.features-section {
    font-family: Inter, sans-serif;
    flex: 1 0 40%;
    display: flex;
    position: relative;
    margin: 20px;
    padding: 10px;
    justify-content: left;
    align-items: center;
    text-align: left;
    background-color: #1a2327;
    border-radius: 10px;
    width: fit-content;
}

.features-left {
    padding: 20px;
    margin-left: 20px;
    background-color: rgb(28, 62, 78);
    border-radius: 50%;
}

.features-right {
    padding-left: 20px;
}

.features-list-desc a {
    color: #5bbfec;
    text-decoration: none;
}

.features-list-desc a:hover {
    text-decoration: underline;
}

.demo-button {
    background-color:rgb(28, 62, 78);
    color: white;
    font-size: 30px;
    font-family: Inter, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    transition: background-color ease 150ms;
}

.demo-button:hover {
    background-color:rgb(35, 92, 119);
}

.demo {
    margin: 20px;
    transition: height ease-in-out 150ms;
    border-radius: 10px;
    height: 0;
}

.demo-active {
    border: 5px rgb(35, 92, 119) solid;
    height: 40vw;
}

@media only screen and (max-width: 850px) {
    .features-list {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .features-section {
        width: 100%;
    }

    .demo-active {
        height: 50vw;
    }
}

@media only screen and (max-width: 550px) {
    .banner-title {
        font-size: 50px;
    }

    .demo-active {
        margin: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .features-section {
        flex-direction: column;
        text-align: center;
    }
}